@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500;600&display=swap');

body
{
    background:#f8a5ac;
    direction: rtl !important;
}
html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    direction: rtl !important;
}
*
{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
    direction: rtl !important;
}
a
{
    text-decoration: none !important;
}
.btn
{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background:#da0c4c;
    color:#fff;
    font-size:1.7rem;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border:0.1rem solid rgba(0,0,0,0.7);
}
.btn:hover{
    background: #222;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
/*////////// buttons////////////////// */
section
{
    padding:3rem 9%;
}
.heading
{
    background: url("img/heading-bg.jpg") no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.7);
}
.heading h1{
    color: #fff;
    font-size:4rem;
}
.title {

    display:flex;

    align-items: center;

    font-size: 2.5rem;

    margin-bottom:3rem;

    padding:1.2rem 0;

    border-bottom: 0.1rem solid rgba(0,0,0,0.7);

    color: #fff;

}
.title span{
    color: #222;
    padding-left: .7rem;
}
.title a{

    margin-right:auto;

    color: #222;

    font-size: 1.5rem;

}
.title a:hover{
    color: #fff;
}


.header{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1000;
    background: rgb(255, 255, 255);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
.header .logo{

    font-size:2rem;

    font-weight: bolder;

    color:#000000;

}
.header .navbar a{

    font-size: 1.5rem;

    color: #000000;

    margin: 0 1rem;

}
.header .navbar a:hover{

    color: #da0c4c;

}
.header .icons div{

    font-size: 1.5rem;

    margin-left: 1.7rem;

    cursor: pointer;

    color: #000000;

}
.header .icons div:hover{

    color: #da0c4c;

}
#menu-btn{

    display: none;

}




@keyframes fadeLeft {

    0%{

        opacity: 0;

        transform: translateY(-5rem);

    }

}



@keyframes fadeUp {

    0%{

        opacity: 0;

        transform: scale(0.5);

    }

}



/*////////////////////////// header end ////////////////////////*/

.home{
    height: 100vh;
    padding-top: 14rem;
    /* background-image: url(../public/uploads/home.png); */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    position: relative;
}

.overlay_home
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

 /* .home .slides-container .slide{

    display:flex;

    align-items: center;

    flex-wrap: wrap;

    gap: 1.5rem;

    display:none;

}

.home .slides-container .slide.active{

    display:flex;

} */



.home  .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
}



.home  .content span{

    color: #ffffff;

    font-size:2.5rem;

}

.home .content h3{

    font-size:6rem;

    color: #ffffff;

    padding:.5rem 0;

}

.home .img{

    flex: 1 1 40rem;

    margin: 3rem 0;

}

.home .img img{

    width: 100%;

    animation: fadeUp .4s linear;

}




/*////////////////////////// home end//////////////////// */

.category
{
    background-color: #ffffff;
}

.category h1,
.category span,
.category  a
{
    color: #000000;
}

.category .title a
{
  color: #000000;
}


.category .box-container{

    display:grid;

    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

    gap:1.5rem;

    padding:4rem 0;

}



.category .box-container .box{

    text-align:center;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

    border:0.1rem solid rgba(0,0,0,0.7);

}







.category .box-container .box h3{

    font-size: 1.5rem;

    /* margin: 1rem 0; */

    color: #000000;

}



.category .box-container .box:hover{

    background-color: #767676;

}

/*////////////////// category end //////////////////////*/



.products h1,
.products span,
.products a
{
    color: #ffffff;
}

.products .box-container {

    display: -ms-grid;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

    gap: 1.5rem;

  }



  .products .box-container .box {

    position: relative;

    background: #f3f3f3;

    text-align: center;

    overflow: hidden;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

    border:0.1rem solid rgba(0,0,0,0.7);

  }



.products .box-container .box:hover  .icons{

    top: 0;

}



  .products .box-container .box .icons {

    position: absolute;

    top: -105%;

    left: 0;

    height: 50%;

    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    align-items: center;

    justify-content: center;

    background: rgba(243, 243, 243, 0.8);

    gap: 1rem;

  }



  .products .box-container .box .icons a {

    font-size: 2rem;

    height: 5rem;

    width: 5rem;

    line-height: 5rem;

    background: #fff;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

    color: #666;

  }



.products .box-container .box .icons a:hover{

    background: var(--brown);

    color:#fff;

}



  .products .box-container .box .img {

    height:15rem;

    width:100%;

    overflow: hidden;

  }



  .products .box-container .box .img img {

    height:100%;

    width:100%;

    object-fit: cover;

  }



  .products .box-container .box .content {

    padding: 1.5rem;

  }



  .products .box-container .box .content h3 {

    font-size: 2rem;

    color: #da0c4c;

  }



/*///////////////// products end ///////////////*/






.about{

    background-color: #ffffff;

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    gap: 1.5rem;

}



.about .img{

    flex: 1 1 10rem;

}



.about .img img{

    width: 100%;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

    border:0.1rem solid rgba(0,0,0,0.7);

}



.about .content{

    flex: 1 1 40rem;

}



.about .content span{

    color: #fff;

    font-size: 2.5rem;

}



.about .content h3{

    color:#da0c4c;

    font-size: 3rem;

    padding-top:.5rem;

    text-align: right;

}



.about .content p{

    color:#222;

    font-size: 1.4rem;

    line-height: 2;

    padding:1rem 0;
    text-align: right;


}


/* end about */


.gallery
{
  background-color: #ffffff;
}


.gallery span ,
.gallery h1 ,
.gallery a
{
    color: #000000;
}

.gallery .title a:hover
{
    color: #000000;
}

.gallery .box-container{

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    gap: 1.5rem;

}



.gallery .box-container .box{

    height:25rem;

    overflow: hidden;

    position: relative;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

    border:0.1rem solid rgba(0,0,0,0.7);

}



.gallery .box-container .box img{

    height:100%;

    width: 100%;

    object-fit: cover;

}



.gallery .box-container .box:hover img{

    transform: scale(1.2);

}



.gallery .box-container .box:hover .icons{

    bottom: 0;

}



.gallery .box-container .box .icons {

    text-align: center;

    background: rgba(0, 0, 0, 0.7);

    padding: 1.5rem 0;

    position: absolute;

    bottom: -6rem;

    left: 0;

    right: 0;

    z-index: 10;

}



.gallery .box-container .box .icons a{

    font-size: 2.5rem;

    color: #fff;

    margin: 0 1.5rem;

}



.gallery .box-container .box .icons a:hover{

    color: var(--brown);

}





.info-container{

    background-color: #ffffff;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));

    gap:1.5rem;

}



.info-container .info{

    display: flex;

    align-items: center;

    gap: 1.5rem;

    padding: 2rem 0;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

    border:0.1rem solid rgba(0,0,0,0.7);

    background: #fff;

}

.info-container .info:hover{

    background: var(--brown);

}



.info-container .info img{

    height: 7rem;

}



.info-container .info .content h3{

    font-size: 2rem;

    color: #da0c4c;

    padding-bottom: .5rem;

}



.info-container .info .content span{

    font-size: 1.5rem;

    color: #222;

}



.review{

    background-color: #ffffff;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    gap:1.5rem;

}



.review .box{

    padding: 2rem;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

    border:0.1rem solid rgba(0,0,0,0.7)

}



.review .box .user{

    display:flex;

    align-items: center;

    gap: 1.5rem;

    margin-bottom:1.5rem;

}



.review .box .user img{

    height:7rem;

    width:7rem;

    border-radius: 50%;

}



.review .box .user h3{

    font-size: 2.2rem;

    color:#da0c4c;

}



.review .box .user span{

    font-size: 1.4rem;

    color:#fff;

}



.review .box p{

    font-size: 1.4rem;

    color:#222;

    line-height: 2;

}


/* review end */



.blogs span,
.blogs h1,
.blogs a
{
    color: #ffffff;
}


.blogs .box-container{

    display:grid;

    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    gap:1.5rem;

}



.blogs .box-container .box
{
    border:0.1rem solid rgba(0,0,0,0.7);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    height: 100%;
}



.blogs .box-container .box .img:hover img{

    transform:scale(1.2);

}



.blogs .box-container .box .img{

    height:25rem;

    width:100%;

    overflow:hidden;

}



.blogs .box-container .box .img img{

    height:100%;

    width:100%;

    object-fit: cover;

}



.blogs .box-container .box .content {

    padding:2rem 1.5rem;

}



.blogs .box-container .box .content .icons{

    border-bottom: 0.1rem solid rgba(0,0,0,0.1);

    padding-bottom: 1.7rem;

    margin-bottom:1.7rem;

    display: flex;

    align-items: center;

    justify-content:space-between;

}



.blogs .box-container .box .content .icons a{

    font-size:1.4rem;

    color:#222;

}



.blogs .box-container .box .content .icons a:hover{

    color:var(--brown);

}



.blogs .box-container .box .content .icons a i{

    color: #222;

    padding-right: .5rem;

}



.blogs .box-container .box .content h3{

    font-size: 2.2rem;

    color: #ffffff;

}



.blogs .box-container .box .content p{

    font-size: 1.4rem;

    color: #222;

    line-height: 2;

    padding: 1rem 0;

}
/* end blog */
.contact
{
    background-color: #ffffff;
}

.contact .icons-container{

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));

    gap: 1.5rem;

}



.contact .icons-container .icons{

    text-align: center;

    border: 0.1rem solid rgba(0,0,0,0.7);

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

    padding:2rem;

}



.contact .icons-container .icons i{

    height:6rem;

    width:6rem;

    line-height: 6rem;

    font-size: 2.5rem;

    background: #da0c4c;

    color:#fff;

    border-radius: 50%;

}



.contact .icons-container .icons h3{

    color:#222;

    font-size: 2rem;

    padding:1rem 0;

}



.contact .icons-container .icons p{

    color:#222;

    font-size: 1.5rem;

    line-height: 2;

}



.contact .row{

    display:flex;

    flex-wrap: wrap;

    gap: 1.5rem;

    margin-top: 2rem;

}



.contact .row form{

    padding:2rem;

    border: 0.1rem solid rgba(0,0,0,0.7);

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

    flex: 1 1 40rem;

}



.contact .row form h3{

    font-size: 2.5rem;

    padding-bottom: 1rem;

    color: #222;

}



.contact .row form .inputBox{

    display: flex;

    justify-content:space-between;

    flex-wrap: wrap;

}



.contact .row form .inputBox .box,

.contact .row form textarea{

    padding:1rem 1.2rem;

    font-size: 1.6rem;

    border: 0.1rem solid rgba(0,0,0,0.7);

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

    color: #222;

    text-transform:none;

    margin: .7rem 0;

}



.contact .row form textarea{

    width: 100%;

    height:15rem;

    resize:none;

}

.space{

    min-height: 10vh;

}



.footer{

    background:var(--brown);



}



.footer .box-container{

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

    gap:14.5rem;

}





.footer .box-container .box h3{

    font-size: 2.2rem;

    color: #ffffff;

    padding:1rem 0;

}



.footer .box-container .box p{

    font-size: 1.5rem;

    color: #ffffff;

    padding-bottom: .5rem;

}



.footer .box-container .box a{

    font-size: 1.4rem;

    color: #ffffff;

    padding:1rem 0;

    display:block;

}



.footer .box-container .box a:hover{

    color: #fff;

}



.footer .box-container .box a:hover i{

    padding-right: 2rem;



}



.footer .box-container .box a i{

    padding-right: .5rem;

    color: #fff;

}



.footer .box-container .box form input[type="email"]{

    width: 100%;

    padding:1rem 1.2rem;

    font-size: 1.6rem;

    color: #000;

    margin: 1rem 0;

    text-transform: none;

}



.footer .box-container .box .payments{

    width: 100%;

    margin-top: 2rem;

}


.footer .btn
{
    background-color: #ffffff;
    color: #da0c4c;
}




.credit{

    text-align: center;

    background:var(--brown);

    color: #ffffff;

    font-size:2rem;

}




/* menu page /////////////////////////////////////////////////////////// */

.wrapper{
    width:100%;
    margin:100px auto;
    background-color: #ffffff;
  }
  .title{
    text-align:center;
    margin-bottom:60px;
    color: #da0c4c;
  }
  .title h4{
    text-transform:capitalize;
    font-size:36px;
    position:relative;
    display:inline-block;
    padding-bottom:10px;
  }
  .title h4 span{
    display:block;
    font-size:18px;
    font-style:italic;
    margin-bottom:10px;
  }
  /* .title h4:before{
    position:absolute;
    content:"";
    width:100px;
    height:2px;
    background-color:#ff7720;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
  } */
  .menu{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }
  .single-menu{
    flex-basis:580px;
    margin-bottom:40px;
    padding-bottom:40px;
    border-bottom: 0.1rem solid rgba(0,0,0,0.7)
  }
  .single-menu:nth-child(5), .single-menu:nth-child(6){
    border-bottom:0;
  }
  .single-menu{
    display:flex;
    flex-direction:row;
    align-items:center;
  }
  .single-menu:hover img{
    border-radius:0;
  }
  .single-menu img{
    max-width:180px;
    margin-right:30px;
    border-radius:50%;
    border:1px solid #ddd;
    padding:3px;
    transition:.5s;
  }
  .single-menu h4{
    text-transform:capitalize;
    font-size:22px;
    border-bottom:1px dashed #333;
    margin-bottom:5px;
    padding-bottom:5px;
    color: #da0c4c;
  }
  .single-menu h4 span{
    float:left;
    color:#da0c4c;
    font-style:italic;
  }


/* menu page /////////////////////////////////////////////////////////// */




/* login page */
.login
{
    width: 70%;
    height: 100%;
    margin-top: 148px;
    margin-bottom: 44px;
    padding-right: 274px;
}

.form-log {
    border: 3px solid #f1f1f1;
    background-color: #da0c4c;
  }

  /* Full-width inputs */
  input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
  button {
    background-color: #7a7a7a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  /* Extra style for the cancel button (red) */
  /* .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  } */

  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* Change styles for span and cancel button on extra small screens */
  /* @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  } */


/* login page */



/* register page */


.register
{
    width: 75%;
    height: 100%;
    margin-top: 148px;
    margin-bottom: 44px;
    padding-right: 274px;
}

.form-reg {
    border: 3px solid #f1f1f1;
    background-color: #da0c4c;
  }

  /* Full-width inputs */
  input[type=email], input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
  button {
    background-color: #949494;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  /* Extra style for the cancel button (red) */
  /* .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  } */

  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }






/* register page */





/* details page */


.container-details {
    max-width: 1200px;
    margin:100px 94px;
    padding: 15px;
    display: flex;
  }

  /* Columns */
  .left-column {
    width: 65%;
    position: relative;
  }

  .right-column {
    width: 35%;
    margin-top: 60px;
  }


  /* Right Column */
  .left-column img {
    width: 100%;
    position: absolute;
    left: 61px;
    top: 23px;
    border-radius: 55px;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .left-column img.active {
    opacity: 1;
  }


  /* left Column */

  /* Product Description */
  .product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 47px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }

  /* Product Configuration */
  .product-count span
   {
    font-size: 14px;
    font-weight: 400;
    color: #86939E;
    margin-bottom: 20px;
    display: inline-block;
   }

  /* Product Color */
  .product-count {
    margin-bottom: 30px;
  }

  .count-choose div {
    display: inline-block;
  }


  .count-choose input[type="number"] {
      border: 1px solid #7e7e7e;
  }

  /* Product Price */
  .product-price {
    display: flex;
    align-items: center;
  }

  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }

  .cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .cart-btn:hover {
    background-color: #64af3d;
  }

/* details page */





/* login page start  */

.cont_login{
  position: relative;
  width: 25%;
  height: 400px;
  padding: 10px 25px;
  margin: 10vh auto;
  background: #fff;
  border-radius: 8px;
}

.form_login{ width: 100%; height: 100%; }

.title_login, .user_login, .pass_login{
  text-align: center;
  display: block;
}

.title_login{
  color: #606060;
  font-weight: bold;
  font-size: 40px;
  margin: 30px auto;
}

.user_login, .pass_login, .login{
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.user_login, .pass_login{ background: #ecf0f1; }

.login_button{
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: #3598dc;
}

.login_button:hover{ background: #3570dc; }

@media only screen and (min-width : 280px) {
  .cont_login{ width: 90% }
}

@media only screen and (min-width : 480px) {
  .cont_login{ width: 60% }
}

@media only screen and (min-width : 768px) {
  .cont_login{ width: 40% }
}

@media only screen and (min-width : 992px) {
  .cont_login{ width: 30% }
}


/* login page end  */




/* social search page start  */

.cont_search{
  position: relative;
  width: 25%;
  height: 400px;
  padding: 10px 25px;
  margin: 10vh auto;
  background: #fff;
  border-radius: 8px;
}

.form_search{ width: 100%; height: 100%; }

.title_search, .user_search, .pass_search{
  text-align: center;
  display: block;
}

.title_search{
  color: #606060;
  font-weight: bold;
  font-size: 40px;
  margin: 30px auto;
}

.user_search, .pass_search, .search{
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.user_search, .pass_search{ background: #ecf0f1; }

.search_button{
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: #3598dc;
}

.search_button:hover{ background: #3570dc; }

@media only screen and (min-width : 280px) {
  .cont_search{ width: 90% }
}

@media only screen and (min-width : 480px) {
  .cont_search{ width: 60% }
}

@media only screen and (min-width : 768px) {
  .cont_search{ width: 40% }
}

@media only screen and (min-width : 992px) {
  .cont_search{ width: 30% }
}


/* social search page end  */



/* activity page start  */

.cont_activity{
  position: relative;
  width: 25%;
  height: 400px;
  padding: 10px 25px;
  margin: 10vh auto;
  background: #fff;
  border-radius: 8px;
}

.form_activity{ width: 100%; height: 100%; }

.title_activity, .user_activity, .pass_activity{
  text-align: center;
  display: block;
}

.title_activity{
  color: #606060;
  font-weight: bold;
  font-size: 40px;
  margin: 30px auto;
}

.user_activity, .pass_activity, .activity{
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.user_activity, .pass_activity{ background: #ecf0f1; }

.activity_button{
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: #3598dc;
}

.activity_button:hover{ background: #3570dc; }

@media only screen and (min-width : 280px) {
  .cont_activity{ width: 90% }
}

@media only screen and (min-width : 480px) {
  .cont_activity{ width: 60% }
}

@media only screen and (min-width : 768px) {
  .cont_activity{ width: 40% }
}

@media only screen and (min-width : 992px) {
  .cont_activity{ width: 30% }
}


/* activity  page end  */







/* media queries */

@media (max-width: 991px){

    html{

        font-size: 55%;

    }

    .header{

        padding:2rem;

    }

    section{

        padding:3rem 2rem;

    }

    .home #next-slide,

    .home #prev-slide{

        transform: translateY(0);

        top:88%;

    }

    .home #prev-slide{

        left:auto;

        right:8rem;

    }

    /* menu page */
    .wrapper
    {
        width:100%;
        margin:100px auto;
    }

}



@media (max-width: 768px){

    #menu-btn{

        display: inline-block;

    }

    .header .navbar{

        position:absolute;

        top: 99%;

        left: 0;

        right: 0;

        background:#ffffff;

        border-top: 0.1rem solid rgba(0,0,0,0.1);

        border-bottom: 0.1rem solid rgba(0,0,0,0.1);

        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    .header .navbar.active{

        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }





    .header .navbar a{

        margin: 1.5rem;

        margin-right: 0px;

        padding:1.5rem;

        background:var(--brown);

        font-size: 2rem;

        display: block;

        border-radius: .5rem;

    }

    /* menu page */
    .wrapper
    {
        width:100%;
        margin:50px auto;
    }

    .single-menu{
        flex-basis:580px;
        margin-bottom:40px;
        padding-bottom:40px;
        border-bottom: 0.1rem solid rgba(0,0,0,0.7)
      }

      .single-menu img{
        max-width:200px;
        margin-right:8px;
        border-radius:50%;
        border:1px solid #ddd;
        padding:3px;
        transition:.5s;
        margin-left: 10px;
      }
      .single-menu h4{
        text-transform:capitalize;
        font-size:32px;
        border-bottom:1px dashed #333;
        margin-bottom:5px;
        padding-bottom:5px;
      }

      .single-menu h4 span
      {
          /* color: #ff0015; */
          font-size: 25px;
      }

}



@media (max-width: 450px){

    html{

        font-size: 50%;
        /* overflow-x: hidden; */

    }

      /* search icon */

         .Expandable-Search
         {
           display: none;
         }

    .home .slides-container .slide .content h3{

        font-size:4rem;

    }

    .contact .row form .inputBox input{

        width: 100%;

    }

    .products .box-container .box .img{

        width: 100%;

    }

    .category .box-container .box img{

        width: 100%;

    }

    /* menu page */
    .wrapper
    {
        width:100%;
        margin:50px auto;
    }

    .single-menu{
        flex-basis:580px;
        margin-bottom:40px;
        padding-bottom:40px;
        border-bottom: 0.1rem solid rgba(0,0,0,0.7)
      }

      .single-menu img{
        max-width:80px;
        margin-right:8px;
        border-radius:50%;
        border:1px solid #ddd;
        padding:3px;
        transition:.5s;
        margin-left: 10px;
      }
      .single-menu h4{
        text-transform:capitalize;
        font-size:15px;
        border-bottom:1px dashed #333;
        margin-bottom:5px;
        padding-bottom:5px;
      }


      /* register page */

      .register
      {
        width: 80%;
        height: 100%;
        margin-top: 123px;
        margin-bottom: 44px;
        padding-right: 44px;
      }

      .form-reg {
          border: 3px solid #f1f1f1;
          background-color: #da0c4c;
        }

        input[type=email], input[type=text], input[type=password] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }

        button {
          background-color: #949494;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
        }

        button:hover {
          opacity: 0.8;
        }


        .imgcontainer {
          text-align: center;
          margin: 24px 0 12px 0;
        }

        img.avatar {
          width: 40%;
          border-radius: 50%;
        }

        .container {
          padding: 16px;
        }

        span.psw {
          float: right;
          padding-top: 16px;
        }

      /* register page */



      /* login page */



      .login
      {
        width: 80%;
        height: 100%;
        margin-top: 123px;
        margin-bottom: 44px;
        padding-right: 44px;
      }

      .form-log {
          border: 3px solid #f1f1f1;
          background-color: #da0c4c;
        }

        input[type=email], input[type=password] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }

        button {
          background-color: #7a7a7a;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
        }

        button:hover {
          opacity: 0.8;
        }


        .imgcontainer {
          text-align: center;
          margin: 24px 0 12px 0;
        }

        img.avatar {
          width: 40%;
          border-radius: 50%;
        }

        .container {
          padding: 16px;
        }

        span.psw {
          float: right;
          padding-top: 16px;
        }

      /* login page */




      /* details page */

      .container-details {
           flex-direction: column;
           margin-bottom: 334px;
      }

      /* Columns */
      .left-column {
        width: 65%;
        position: relative;
      }

      .right-column {
        width: 35%;
        margin-top: 60px;
      }


      /* Right Column */
      .left-column img {
        width: 100%;
        position: absolute;
        left: 61px;
        top: 23px;
        border-radius: 55px;
        opacity: 0;
        transition: all 0.3s ease;
      }

      .left-column img.active {
        opacity: 1;
        width: 272px;
        left: -82px;
        top: 30px;
        border-radius: 10px;
      }


      /* left Column */

      /* Product Description */
      .product-description {
        border-bottom: 1px solid #E1E8EE;
        margin-bottom: 20px;
      }
      .product-description span {
        font-size: 30px;
        color: #358ED7;
        position: absolute;
        top: 326px;
        left: 172px;
      }
      .product-description h1 {
        font-weight: 300;
        font-size: 32px;
        color: #222;
        letter-spacing: -2px;
        position: absolute;
        top: 367px;
        left: 93px;
      }
      .product-description p {
        font-size: 17px;
        font-weight: 300;
        color: #222;
        line-height: 24px;
        position: absolute;
        top: 437px;
        right: 5px;
      }

      /* Product Configuration */
      .product-count span
       {
        font-size: 14px;
        font-weight: 400;
        color: #86939E;
        margin-bottom: 20px;
        display: inline-block;
       }

      /* Product Color */
      .product-count {
        margin-bottom: 30px;
      }

      .count-choose div {
        display: inline-block;
      }


      .count-choose input[type="number"] {
          border: 1px solid #7e7e7e;
      }

      /* Product Price */
      .product-price {
        display: flex;
        align-items: center;
      }

      .product-price span {
        font-size: 26px;
        font-weight: 300;
        color: #43474D;
        position: absolute;
        top: 522px;
      }

      .cart-btn {
        display: inline-block;
        background-color: #7DC855;
        border-radius: 6px;
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 12px 30px;
        transition: all .5s;
        position: absolute;
        top: 574px;
      }
      .cart-btn:hover {
        background-color: #64af3d;
      }

}

/*//////////////////////////////// new ///////////////////////////////////*/


/* achevements */
.container_acheve
{
    width: 100%;
    margin: auto;
}
.content_acheve
{
    margin-top: 100px;
}
.item_acheve
{
    display: inline-block;
    width: 20%;
    background-color: gray;
    padding: 15px 18px;
    text-align: center;
    margin: 2% 5%;
}
.text_acheve
{
    width: 85%;
    margin: auto;
}
.text_acheve h2
{
    width: 100%;
}
.text_acheve h2 a
{
    color: white;
}
.text_acheve h2 a:hover
{
    color: rgb(0, 0, 0);
}

.links_bar
{
  width: 10%;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}


@media (max-width: 450px)
{
  .item_acheve
   {
    display: inline-block;
    width: 30%;
    margin: 2% 7%;
  }
}




/* single acheve */

.container_single
{
    width: 100%;
    margin: auto;
}
.content_single
{
    margin-top: 100px;
}
.item_single
{
  width: 80%;
  background-color: gray;
  padding: 15px 18px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.text_single
{
  width: 85%;
  margin: auto;
  color: white;
  font-size: 18px;
}


/* team single */

.team_container
{
  width: 80%;
  margin: auto;
  background-color: rgb(94, 93, 93);
  text-align: center;
  margin-bottom: 100px;
}
.content_team
{
  margin-top: 100px;
}
.team_container img
{
  width: 50%;
  height: 50%;
  margin-top: 50px;
}
.text_team
{
  color: rgb(255, 255, 255);
  margin-top: 50px;
  padding-bottom: 100px;
}

.icons_team
{
    margin-top: 30px;
}
.icons_team a
{
   font-size: 20px;
   color: white;
   margin: 0px 20px;
}


/* //////// activites//////// */

.box_container_activites
{
  margin: 100px 0px;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}
.box_container_activites .box
{
    border:0.1rem solid rgba(0,0,0,0.7);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    height: 100%;
}



 .box_container_activites .box .img:hover img{

    transform:scale(1.2);

}



 .box_container_activites .box .img{

    height:25rem;

    width:100%;

    overflow:hidden;

}



 .box_container_activites .box .img img{

    height:100%;

    width:100%;

    object-fit: cover;

}



 .box_container_activites .box .content {

    padding:2rem 1.5rem;

}



 .box_container_activites .box .content .icons{

    border-bottom: 0.1rem solid rgba(0,0,0,0.1);

    padding-bottom: 1.7rem;

    margin-bottom:1.7rem;

    display: flex;

    align-items: center;

    justify-content:space-between;

}



 .box_container_activites .box .content .icons a{

    font-size:1.4rem;

    color:#222;

}



 .box_container_activites .box .content .icons a:hover{

    color:var(--brown);

}



 .box_container_activites .box .content .icons a i{

    color: #222;

    padding-right: .5rem;

}



 .box_container_activites .box .content h3{

    font-size: 2.2rem;

    color: #ffffff;

}



 .box_container_activites .box .content p{

    font-size: 1.4rem;

    color: #222;

    line-height: 2;

    padding: 1rem 0;

}

